$primary_color: #2f86a6;
$secondary_color: #34be82;
$third_color: #2fdd92;
$fourth_color: #f2f013;

$spacing: 10px;
$len: $spacing * 3.2;

$font_title: "Arvo", serif;
$font_primary: "Roboto Slab", serif;

$shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
